{% extends 'masterpage.html' %}
{% load static %}
{% block title %}الأسئلة الشائعة{% endblock title %}

{% block body %}
<section class="min-vh-40 mb-8">
    <div class="bg-kheer page-header align-items-start min-vh-40 pt-5 pb-11 m-3 border-radius-lg" style="background-image: url('../../../static/images/home7.jpeg');">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5 text-center mx-auto">
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row pt3">
<div class="col-md-7 mt-4">
          <div class="card">
            <div class="card-header pb-0 px-3">
              <h6 class="mb-0">الأسئلة الشائعة</h6>
            </div>
            <div class="card-body pt-4 p-3">
              <ul class="list-group">
            {% for fa in questions %}
                      <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                  <div class="d-flex flex-column">
                    <h6 class="mb-3 text-sm green-khieer">{{ fa.title }}</h6>

                    <span class="text-xs"><span class="text-dark ms-sm-2 blue-khieer font-weight-bold">{{ fa.content }}</span></span>
                  </div>
                </li>

                  {% endfor %}

              </ul>
            </div>
          </div>
        </div>
        </div>


    </div>
  </section>


{% endblock body %}